* {
  font-family: DM Sans, sans-serif;
}

.first-Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 96px;
}


div.first {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.bigHeading {
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #1971c2;
  font-weight: 700;
  letter-spacing: 0.3px;
  position:static;
  max-width: fit-content;
  background-image: linear-gradient(to right, #1971c2 50%, transparent 50%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 2000px 4px;
  text-shadow: 4px 4px 4px #1971c2;
  
}

.subHeading {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 700;
  color: #1e6eb5;
  text-align: center;
  position:static;
  max-width: fit-content;
  text-shadow: 2px 2px 2px #1971c2;
}

.MenuButton {
  color: rgb(61, 58, 58);
}

.ptag {
  font-size: 20px;
  text-align: center;
  color: #868e96;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 800px;
}

.first-btn {
  display: flex;
  justify-content: center;
  gap: 25px;
}

Button.btns {
  border-radius: 20px;
  font-weight: 700;
  width: auto;
  position:static;
}



@media (max-width: 800px) {
  .ptag {
    width: 600px;
    font-size: 15px;
  }
  Button.btns {
    font-size: 13px;
  }
  .bigHeading {
    font-size: 80px;
    background-size: 2000px 3px;
  }
  .subHeading {
    font-size: 40px;
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  .ptag {
    width: 400px;
    font-size: 15px;
  }
  Button.btns {
    font-size: 10px;
  }
  .bigHeading {
    font-size: 60px;
    background-size: 2000px 2.5px;
  }
  .subHeading {
    font-size: 30px;
    margin-top: -5px;
  }
  .first-btn {
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .first-Container{
    padding-left: 3rem;
  }
  .ptag {
    width: 300px;
    font-size: 13px;
  }
  .bigHeading {
    font-size: 40px;
    background-size: 2000px 2px;
  }
  .subHeading {
    font-size: 20px;
    margin-top: -2px;
  }
  .first-btn {
    gap: 12px;
  }
}
