* {
  width: auto;
}
.how {
  justify-content: center;
  width: 800px;
}

Button.btn {
  border-radius: 20px;
  position: static;
}

.title-txt{
    margin-bottom: 25px;
}

.whitetext {
  text-shadow: -1px 1px 0 #d3d3d3, 1px 1px 0 #d3d3d3, 1px -1px 0 #d3d3d3,
    -1px -1px 0 #d3d3d3;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 105px;
  font-weight: 600;
  margin-top: 10px;
}

.text-subtitle {
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -50px;
}

.grid-parent {
  color: black;
  gap: 0.25em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
/* the below ones are for making the card 4 an 5 to display in center */
.box:nth-child(4),
.box:nth-child(5) {
  margin-left: 50%;
  margin-right: 50%;
}

.box {
  padding: 10px 10px 10px 10px;
  border: 2px solid #868e96;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  width: 180px;
  height: 280px;
  font-size: 13px;
  
  gap: 15px;
  text-align: center;
  margin: 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 4px 4px 2px #1D242C ;
}

.box-title {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.R-title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.howimg {
  mix-blend-mode: multiply;
  width: 100px;
  position: sticky;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  color: black;
  width: 20%;
}

.how-read{
  margin-top: 25px;
}

@media (max-width: 800px) {
  .how {
    width: 600px;
  }

  .grid-parent {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: auto;
    margin-left: 50%;
    margin-right: 50%;
  }
  /* the below ones are for making the card 4 an 5 to display in center */
  .box:nth-child(4) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .box:nth-child(5) {
    margin-left: 50%;
    margin-right: 50%;
  }

  .box {
    width: 180px;
    height: 250px;
    font-size: 13px;
  }

  .box-title {
    font-size: 20px;
  }

  .howimg {
    width: 90px;
  }
  .circle {
    border: 1.9px solid black;
    font-size: 25px;
    width: 15%;
  }

  .whitetext {
    font-size: 80px;
  }

  .text-subtitle {
    font-size: 25px;
    margin-top: -40px;
  }
}

@media (max-width: 600px) {
  .how {
    width: 400px;
  }

  .grid-parent {
    grid-template-columns: 1fr 1fr;
  }
  /* the below ones are for making the card 4 an 5 to display in center */
  .box:nth-child(4) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .box:nth-child(5) {
    margin-left: 50%;
    margin-right: 50%;
  }

  .box {
    width: 160px;
    height: 220px;
    font-size: 11px;
  }

  .box-title {
    font-size: 17px;
  }
  .R-title {
    font-size: 22px;
  }
  li {
    font-size: 11px;
  }

  .howimg {
    width: 90px;
  }

  .circle {
    border: 1.9px solid black;
    font-size: 22px;
    width: 15%;
  }

  .whitetext {
    font-size: 80px;
  }

  .text-subtitle {
    font-size: 25px;
    margin-top: -40px;
  }
}

@media (max-width: 400px) {
  .how {
    width: 400px;
  }

  .grid-parent {
    grid-template-columns: 1fr;
    width: auto;
    margin-left: 50%;
    margin-right: 50%;
  }
  /* the below ones are for making the card 4 an 5 to display in center */
  .box:nth-child(4),
  .box:nth-child(5) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .box {
    width: 140px;
    height: 200px;
    font-size: 10px;
  }

  .box-title {
    font-size: 17px;
  }
  .R-title {
    font-size: 16px;
    width: 100%;
  }
  li {
    font-size: 11px;
  }
  .howimg {
    width: 70px;
  }

  .circle {
    border: 1.9px solid black;
    font-size: 20px;
    width: 15%;
  }

  .whitetext {
    font-size: 70px;
  }

  .text-subtitle {
    font-size: 23px;
    margin-top: -35px;
  }
}
