.What {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 1450px;
  border: 2px red solid;
}

.Arrow_icon:hover {
  color: #ff3c3c;
  /*Set Your Hover color*/
}

.tabs {
  display: flex;
  width: 80%;
  max-width: 1335px;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;

  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: rgb(0, 195, 255);
  overflow: scroll; /* Enable scrolling for tabs__labels */
}

.tabs__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the arrows */
  width: 100%; /* Make the container take full width */
}

.left_arrow,
.right_arrow {
  cursor: pointer;
  background-color: transparent;
  border: unset;
  font-size: 50px;
  display: -webkit-box;
}

.tabs__labels {
  display: flex;
  width: 1000px;
}

.tabs__label {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  flex-shrink: 0;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
}

.tabs__content {
  order: 1;
  width: 100%;
  border: 3px solid #dddddd;
  border-radius: 30px;
  line-height: 1.5;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__radio {
  display: none;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #6aa89c;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.tabs__label:hover {
  transform: translateY(1px);
  text-decoration-thickness: 1px;
  color: #ff3c3c;
  border-bottom: 2px solid #6aa89c;
}

/* Add any additional styling you need */

.arrows {
  display: -webkit-inline-box;
  align-items: center;
  width: 800px;
  margin-right: 60px;
}

.content-img {
  padding: 10px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
strong {
  font-size: 2.5rem;
  justify-content: center;
}

img {
  max-width: 375px;
  width: auto;
  height: auto;
}

.tabs__labels {
  width: auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 10px; /* Optional: Adjust padding as needed */
}

.tabs__label {
  margin-right: 10px; /* Optional: Adjust margin as needed */
  cursor: pointer;
}

/* Optional: Highlight the active tab label */
.tabs__label.active {
  font-weight: bold;
}

@media (max-width: 1470px) {
  .tabs {
    overflow: auto;
  }
  .tabs__labels {
    overflow-x: auto;
    white-space: nowrap;
    padding: 3px; /* Optional: Adjust padding as needed */
    min-width: 100%; /* Set a minimum width to prevent extreme compression */
  }

  .tabs__label {
    margin-right: 10px; /* Optional: Adjust margin as needed */
    cursor: pointer;
  }
}

@media (max-width: 1340px) {
  .tabs__content {
    width: 800px;
  }
}

@media (max-width: 1100px) {
  .tabs__content {
    width: 750px;
  }
  .content-img {
    padding: 10px;
    font-size: 1.3rem;
  }
  strong {
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) {
  .tabs__content {
    width: 700px;
  }
  .left_arrow {
    margin-left: 30px;
  }
  .content-img {
    padding: 10px;
    font-size: 1.1rem;
  }
  strong {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .tabs__content {
    width: 625px;
  }
  .left_arrow {
    margin-left: 60px;
  }
  .content-img {
    padding: 10px;
    font-size: 0.8rem;
  }
  strong {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .tabs {
    max-width: 700px;
    margin-left: 50px;

    font-size: 13px;
  }
  .tabs__content {
    width: 500px;
    height: 200px;
  }
  .left_arrow {
    margin-left: auto;
  }
  .content-img {
    padding: 10px;
    font-size: 0.8rem;
  }
  strong {
    font-size: 1.2rem;
  }
  img {
    width: 275px;
  }
}

@media (max-width: 650px) {
  .tabs {
    max-width: 800px;
    
    margin-left: 50px;
  }
  .tabs__content {
    width: 525px;
  }
  .left_arrow {
    margin-left: 140px;
  }
  .content-img {
    padding: 10px;
    font-size: 0.9rem;
  }
  strong {
    font-size: 1.3rem;
  }
}




@media (max-width: 650px) {
  .tabs {
    max-width: 800px;
    
    margin-left: 50px;
  }
  .tabs__content {
    width: 525px;
  }
  .left_arrow {
    margin-left: 140px;
  }
  .content-img {
    padding: 10px;
    font-size: 0.9rem;
  }
  strong {
    font-size: 1.3rem;
  }
}

@media (max-width: 570px) {

  .What {
    max-width: 100%;
    width: 600px;
    border: 2px red solid;
  }

  .tabs {
    max-width: 700px;
    width: 530px;
    margin-left: 30px;
  }
  .tabs__content {
    width: 500px;
    
  }
  .left_arrow {
    margin-left: 165px;
  }
  .content-img {
    padding: 10px;
    font-size: 0.8rem;
  }
  strong {
    font-size: 1.2rem;
  }
  .What-img{
      width: 250px;
  }
  .left_arrow,.right_arrow{
    font-size: 40px;
  }

}

